.cost{ 
    width: 100%;
    margin: 0 auto;
    background-image: radial-gradient(100.93% 242.98% at 1.19% 19.9%, #EBF6FF 0%, #EBEAF8 33.33%, #D8EDEE 61.98%, #EFF4F9 82.29%, #EFF8FF 100%), url(../../img/main/background-cost.png);
    margin-bottom: 180px;
}