.cost{ 
    width: 100%;
    padding-top: 200px;
    margin: 0 auto;
    background-image:url(../../img/main/background-cost.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 180px;
    position: relative;
}
.cost::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 140px;
    background-image: url(../../img/circle-color-first.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    right: 200px;
}
.cost-print {
    padding-top: 0;
    background:none;
}
