@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
*,*::before,*::after {
    margin: 0;
    padding: 0;
    font-family: "gilroy", "Helvetica", sans-serif;
    font-style: normal;
}
.background-fon-top {
    background-image: url(../../img/main/background-color-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 940px;
}
.header { 
    width: 100%;
}
.header__wrapper {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}
.logo {
    padding-top: 33px;
    margin-right: 314px;
}
.menu__list {
    @include list-reset;
    display: flex;
    padding-top: 39px;
        &-items {
            margin-right: 72px;
            text-decoration: none;
            color: #2C2F36;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            position: relative;
    }
        &-items:hover{
            color:#FB8C00;
        }
}
.menu__list-items-hover:hover::before {
    position: absolute;
    content: "";
    width: 73px;
    height: 3px;
    background-color: #FB8C00;
    border-radius: 18px;
    top: 22px;
}
.menu__buttons {
    padding-top: 24px;   
}
.menu__list-button {
    background-color: #FB8C00;
    border: none;
    border-radius: 88px;
    min-width: 256px;
    min-height: 48px;
    color: #fff;
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    position: relative;
        &:hover {
            background: #2F80ED;
        }
        &::before{
            position: absolute;
            content: "";
            width: 12px;
            height: 13px;
            background-image: url(../../img/main/calculate-button.svg);
            top: 17px;
            left: 22px;
            background: #fff;
        }
}

.section {
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 109px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
        &__text-title {
            font-weight: 800;
            font-size: 72px;
            line-height: 88px;
            color: #2C2F36;
            width: 370px;
        }
}
.section__text-title-color {
    color:#FB8C00;
}
.section__container {
    padding-left: 200px;
}
.paragraph {
    display: flex;
    justify-content: left;
        &__text{ 
            margin-left: 63px;
            position: relative;
            margin-top: 199px;
        }
        &__text:nth-child(1){
            max-width: 160px;
            margin-left: 0;
        }
        &__text:nth-child(2) {
            max-width: 185px;
        }
        &__text:nth-child(3) {
            max-width: 120px;
        }
}
.paragraph__text::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-position: center;
    background-color: #fff;
    background-image: url(../../img/main/layer.svg);
    background-repeat: no-repeat;
    border-radius: 50px;
    top: -84px;
}
.paragraph__text:nth-child(1)::before {
    background-image: url(../../img/main/pencil.svg);
}
.paragraph__text:nth-child(3)::before {
    background-image: url(../../img/main/printer.svg);
}
.paragraph__text:nth-child(1)::after,
.paragraph__text:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 150px;
    background-color: #9BA9B5;
    opacity: 0.2;
    border-radius: 36px;
    top: -95px;
    right: -30px;
}
.section-printer {
    position: relative;
    top: -40px;
}

//details
.details{
    padding-top: 71px;
    max-width: 1200px;
    margin: 0 auto;
        &__title {
            padding-bottom: 129px;
            font-weight: 800;
            font-size: 48px;
            line-height: 59px;
            color:#2C2F36;
        }
}

.details__elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 126px 30px;
}
.element-items {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
    border-radius: 35px;
    text-align: center;
    min-width: 370px;
    min-height: 284px;
    &__image {
        position: relative;
        top: -61px;
    }
    &__text {
        max-width: 228px;
        padding-bottom: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
    }
}
.element-items__text-width {
    max-width: 262px;
}
.element-items__title {
    max-width: 215px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #2C2F36;
}

//condition-work
.condition-work {
    padding-top: 194px;
    max-width: 1600px;
    margin: 0 auto;
        &__title {
            padding-left: 216px;
            font-weight: 800;
            font-size: 48px;
            line-height: 59px;
            color: #2C2F36;
        }
}
.condition-work-container {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.3fr 0.3fr;
    justify-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #2C2F36;
        &__info {
            max-width: 128px;
        }
        &-info-long {
           grid-column: 1/3;
           max-width: 370px;
        }
}
.services__info:nth-child(1) {
    max-width: 570px;
    background: #FFFFFF;
    box-shadow: 0px 4px 68px rgba(32, 52, 91, 0.08);
    border-radius: 35px;
}

