.link-cloud {
    width: 590px;
    height: 70px;
    background: #F9FAFB;
    border: 1px solid #ECEEF1;
    box-sizing: border-box;
    border-radius: 7px;
    margin-left: 40px;
    margin-top: 32px;
    padding-left: 24px;
    padding-bottom: 35px;
}