.details{
    padding-top: 71px;
    max-width: 1200px;
    margin: 0 auto;
        &__title {
            padding-bottom: 129px;
            font-weight: 800;
            font-size: 48px;
            line-height: 59px;
            color:#2C2F36;
        }
}

.details__elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 126px 30px;
}
.element-items {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
    border-radius: 35px;
    text-align: center;
    min-width: 370px;
    min-height: 284px;
    &__image {
        position: relative;
        top: -61px;
    }
    &__text {
        max-width: 228px;
        padding-bottom: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #2C2F36;
    }
}
.element-items__text-width {
    max-width: 262px;
}
.element-items__title {
    max-width: 215px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #2C2F36;
}
