.section-questions {
    width: 1170px;
    height: 433px;
    margin: 0 auto;
    margin-bottom: 180px;
    background-image: radial-gradient(98.97% 276.64% at 1.03% 40.7%, #EBF6FF 0%, #EFF8FF 100%);
    border-radius: 35px;
        &__wrapper {
            display: flex;
        }
}

       