@import url(./blocks/header.scss);
@font-face {
    font-family: "gilroy";
    font-style: normal; 
    font-weight: 400;
    src: url(../fonts/gilroy-regular.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 500;
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 600;
    src: url(../fonts/gilroy-semibold.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 700;
    src: url(../fonts/gilroy-bold.ttf);
}